 <style type="text/css">
  .info {
    font-size: 20px;

  }

</style>

<div id="charts"  class="x-hide-display" >

  <div id="cal" ></div>
  <!-- 3. Add the container -->
    <div id="chart_text" ></div>
		<div id="chart_container" style="width: 800px; height: 400px; margin: 0 auto"></div>
    <div id="chart_container1" style="width: 900px; height: 400px; margin: 0 auto"></div>
  </div>

<div id="event_planner_map" style="width:100%; height:100%">
</div>

<table id="event_calender" class="x-hide-display" >
  <tr>
    <td valign="top" style="width: 30em;">
      <div id="cont"></div>
      <script type="text/javascript">

      </script>
    </td>

    <td valign="top" style="padding-left: 2em">
      <table class="properties">
        <tr>
          <td class="label">
            <label for="f_rangeStart">Disable dates before:</label>
          </td>
          <td>
            <input id="f_rangeStart" />
            <button id="f_rangeStart_trigger">...</button>
            <button id="f_clearRangeStart" onclick="clearRangeStart()">clear</button>
            <script type="text/javascript">
            </script>
          </td>
        </tr>

        <tr>
          <td class="label">
            <label for="f_rangeEnd">Disable dates after:</label>
          </td>
          <td>
            <input id="f_rangeEnd" />
            <button id="f_rangeEnd_trigger">...</button>
            <button id="f_clearRangeEnd" onclick="clearRangeEnd()">clear</button>
            <script type="text/javascript">
            </script>
          </td>
        </tr>

        <tr>
          <td class="label">
            <label for="f_selection">Selection:</label>
          </td>
          <td>
            <textarea id="f_selection" style="width: 20em; height: 10em"></textarea>
            <script type="text/javascript">//<![CDATA[

              //]]></script>
          </td>
        </tr>

      </table>
    </td>
  </tr>
</table>

